#admin-form-container{
    display: flex;
    justify-content: center;
}

#admin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e0e0d2;
    border-radius: .4rem;
    padding: 1.2rem;
    width: 30rem;
    max-height: 100%;
    margin-top: 2rem;
    min-width: 0;
}

#admin-form input {
    font-size: 1.3rem;
    padding-left: 7px;
    margin-bottom: 0.5rem;
    border-radius: 0.4rem;
    box-sizing: border-box;
    height: 3rem;
    border: 1px solid #a8a8a8;

}

#user-table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

#user-table td, #user-table th {
    border: 1px solid #ddd;
    padding: 7px;
}


#user-table tr:nth-child(even){
    background-color: #a8a8a8;
}

#user-table tr:hover {background-color: #ddd;}

#user-table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(76, 99, 175);
    color: white;
}
