#user-from-container{
    display: flex;
    justify-content: center;
}

#user-from {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e0e0d2;
    border-radius: .4rem;
    padding: 1.2rem;
    width: 30rem;
    max-height: 85%;
    margin-top: 2rem;
    min-width: 0;
}

#user-from input {
    font-size: 1.3rem;
    padding-left: 7px;
    margin-bottom: 0.5rem;
    border-radius: 0.4rem;
    box-sizing: border-box;
    height: 3rem;
    border: 1px solid #a8a8a8;

}

#user-from input[type=submit]:hover {
    background-color: #d0d0c1
}

#user-from  span {
    color:red;
    font-size: 0.8rem;
}

#pop-up {
    display:none;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    width:25%;
    height: 25%;
    left: 36%;
    top: 25%; 
    min-width: 0;
    background-color:#e4e4e4;
    border-radius: 0.4rem;
    z-index: 1;
}

#pop-up p {
    color:rgb(52, 231, 52);
    text-align:center;
    padding-top:20%;
    padding-left:30%;
    height: 100%;
}

#pop-up button {
    height: 5%;
    background-color: #e4e4e4;
    color:#8f8f8f;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: right;
}

#pop-up button:hover{
    color:#646464;
}

#pop-up button:focus{
    outline: 0;
}

#body :not(#pop-up){
    filter: blur(2px);    
}    
